.overlay {
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        width: 500px;
        height: 500px;
        background-color: white;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            margin-bottom: 50px;
        }
        .inputContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                margin: 0 40px 10px;
                width: 250px;
                height: 40px;
                background-color: #f3f3f3;
                border-radius: 5px;
                border: 1px solid #eaeaea;
                padding: 0 16px;
                transition: box-shadow 0.2s ease-in-out;
                &:focus {
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.02);
                    outline: none !important;
                    border: 1px solid rgb(207, 217, 222);
                }
            }
        }
    }

    .registerContainer {
        background-color: white;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        width: 500px;
        height: 40px;
        position: relative;
        top: 15px;
        span {
            color: rgb(38, 38, 38);
            font-size: 16px;
            font-family: "Roboto Serif", serif;
            margin: 0 2px;
        }
        .registerLink{
            cursor: pointer;
            color: #0196f6;
            font-weight: 700;
        }
    }

    .errorMessage {
        width: 285px;
        height: 50px;
        background-color: rgb(29, 155, 240);
        position: relative;
        top: 85px;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto Serif", serif;
        font-size: 15px;
        // opacity: 0;
        transition: opacity 0.2s ease-in;
    }
}
