.leftBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media (max-width: 900px) {
        height: 500px;
        img {
            height: fit-content !important;
            width: 100%;
        }
    }
    img {
        height: 100%;
    }
}
