.button {
    width: 268px;
    height: 40px;
    margin-top: 50px;
    background-color: #0095f6;
    cursor: pointer;
    padding: 5px 9px;
    border: 1px solid #0095f6;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: "Roboto Serif", serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: rgb(26, 140, 216);
    }
}
