.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 12px;
    .header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 1px solid rgb(219, 219, 219);
        button {
            background: transparent;
            border: none;
            cursor: pointer;
            color: rgb(0, 149, 246);
            font-weight: 600;
            font-size: 16px;
            margin-right: 10px;
        }
    }
    .main {
        width: 500px;
        @media(max-width:550px){
            width: 350px;
        }
        .userBlock {
            display: flex;
            align-items: center;
            height: 70px;
            margin-left: 15px;
            .avatar {
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 9999px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
            span {
                font-family: "Roboto Serif", serif;
                font-weight: 600;
                margin-left: 10px;
            }
        }
        .inputBlock {
            margin-top: 5px;
            display: flex;
            textarea {
                border-radius: 12px;
                padding: 10px 16px;
                border: none;
                resize: none;
                outline: none;
                flex: 1;
                height: 300px;
                font-family: "Roboto Serif", serif;
                font-size: 18px;
                &::-webkit-scrollbar {
                    display: none;
                }
                &::placeholder {
                    color: rgb(142, 142, 142);
                    font-family: "Roboto Serif", serif;
                    font-size: 18px;
                }
            }
        }
    }
}
