.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    width: 550px;
    height: 500px;
    margin: 180px auto;
    background-color: #f3f3f3;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cross {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        border-radius: 9999px;
        transition: background-color 0.2s ease-in-out;
        padding: 8px;
        &:hover {
            background-color: rgb(15, 20, 25, 0.1);
        }
    }
    .inputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        input {
            margin-bottom: 15px;
            width: 250px;
            height: 40px;
            border-radius: 9999px;
            border: 1px solid #eaeaea;
            padding: 0 16px;
            transition: box-shadow 0.2s ease-in-out;
            &:focus {
                box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.15);
                outline: none !important;
                border: 1px solid rgb(207, 217, 222);
            }
        }
        .redPlaceholder {
            &::placeholder{
                color: red;
            }
        }
    }
}
