.homeContainer {
    margin-left: 305px;
    padding-right: 130px;
    flex: 1;
    display: flex;
    justify-content: center;
    height: fit-content;
    @media (max-width: 1300px) {
        margin-left: 86px;
        padding-right: 0;
    }
    @media (max-width: 1000px) {
        .postsBlock {
            padding-right: 0 !important;
        }
        .infoBlock {
            display: none;
        }
    }
    @media (max-width: 700px) {
        margin-left: 0;
        padding: 0 5px;
        .postsBlock {
            padding-top: 15px !important;
        }
    }
    .postsBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        padding-right: 50px;
    }
    .infoBlock {
        padding-top: 50px;
    }
}
