@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

.itemContainer {
    cursor: pointer;
    padding: 4px 0;
    width: 100%;
    border-radius: 9999px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: rgba(159, 161, 167, 0.1);
    }
    .item {
        display: flex;
        align-items: center;
        padding: 12px;
        margin: 8px 0;
        .imageContainer {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .labelContainer {
            padding-left: 16px;
            line-height: 24px;
            font-size: 20px;
            font-family: "Roboto Serif", serif;
        }
    }
    .chosenItem {
        .labelContainer {
            font-weight: 600;
        }
    }
}
