@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&display=swap");

header {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    .headerContainer {
        width: 251px;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 12px;
        .topContainer {
            .logoContainer {
                cursor: pointer;
                width: 52px;
                height: 52px;
                margin: 5px 0;
                border-radius: 9999px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background-color: rgba(29, 155, 240, 0.1);
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .menuContainer {
                margin-top: 2px;
                margin-bottom: 4px;
                width: 100%;
                font-size: 15px;
                nav {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}
